In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from pathlib import Path

In [23]:
df = pd.read_csv(
    "../data/raw/salaries/tbs-pssd-compendium-salary-disclosed-2023-en-utf-8-2025-01-28.csv",
    engine="python",
    encoding="ISO-8859-1",
    on_bad_lines="warn")

df.value_counts('Last Name').head(50)

Last Name
Smith        1463
Lee           903
Brown         895
Wilson        776
Taylor        616
Campbell      607
Martin        600
Thompson      584
Macdonald     575
Williams      570
Wong          547
Chan          544
Jones         539
Johnson       524
Singh         510
Li            491
Miller        478
Thomas        477
Wang          477
Anderson      469
Patel         434
Scott         429
Young         427
White         426
Robinson      426
Moore         421
Stewart       410
Khan          406
Chen          379
Kim           379
Kelly         371
Wright        371
Walker        361
Reid          359
Zhang         344
Johnston      333
Liu           332
Clark         329
Mcdonald      328
Murray        327
Clarke        327
Davis         326
Murphy        323
King          305
Jackson       305
Graham        296
Harris        295
Hamilton      291
Lewis         290
Ross          290
Name: count, dtype: int64

In [6]:
df1 = pd.read_csv(
    "../data/processed/salaries/sunshine_cleaned_2023.csv",
    engine="python",
    encoding="ISO-8859-1",
    on_bad_lines="warn")

df1.head()

,sector,last_name,first_name,salary_paid,taxable_benefits,employer,job_title,calendar_year,full_name,total_compensation
0,Ontario Power Generation,Hartwick,Kenneth,1925372.00,7539.84,Ontario Power Generation,President and Chief Executive Officer,2023,Kenneth Hartwick,1932911.84
1,Ontario Power Generation,Miniere,Dominique,1194532.69,3268.80,Ontario Power Generation,Chief Strategy Officer,2023,Dominique Miniere,1197801.49
2,Ontario Power Generation,Martelli,Michael,972746.99,3178.08,Ontario Power Generation,Chief Projects Officer,2023,Michael Martelli,975925.07
3,Ontario Power Generation,Butcher,Nicolle,894783.33,1286.88,Ontario Power Generation,Chief Operations Officer,2023,Nicolle Butcher,896070.21
4,Ontario Power Generation,Ginther,Christopher,889925.01,7127.40,Ontario Power Generation,Executive Vice President Business Strategy and...,2023,Christopher Ginther,897052.41

In [24]:
df2009 = pd.read_csv(
    "../data/processed/salaries/sunshine_cleaned_2023.csv",
    engine="python",
    encoding="ISO-8859-1",
    on_bad_lines="warn")

df2009.head()

,sector,last_name,first_name,salary_paid,taxable_benefits,employer,job_title,calendar_year,full_name,total_compensation
0,Ontario Power Generation,Hartwick,Kenneth,1925372.00,7539.84,Ontario Power Generation,President and Chief Executive Officer,2023,Kenneth Hartwick,1932911.84
1,Ontario Power Generation,Miniere,Dominique,1194532.69,3268.80,Ontario Power Generation,Chief Strategy Officer,2023,Dominique Miniere,1197801.49
2,Ontario Power Generation,Martelli,Michael,972746.99,3178.08,Ontario Power Generation,Chief Projects Officer,2023,Michael Martelli,975925.07
3,Ontario Power Generation,Butcher,Nicolle,894783.33,1286.88,Ontario Power Generation,Chief Operations Officer,2023,Nicolle Butcher,896070.21
4,Ontario Power Generation,Ginther,Christopher,889925.01,7127.40,Ontario Power Generation,Executive Vice President Business Strategy and...,2023,Christopher Ginther,897052.41

In [17]:
df96.columns

Index(['Sector', 'Last Name', 'First Name', 'Salary Paid', 'Taxable Benefits',
       'Employer', 'Job Title', 'Calendar Year'],
      dtype='object')

In [18]:
df.columns

Index(['Sector', 'Last Name', 'First Name', 'Salary', 'Benefits', 'Employer',
       'JobTitle', 'Year'],
      dtype='object')